@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Enable View Transitions API */
  @view-transition {
    navigation: auto;
  }

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }

  /* Simple view transition API for deferred sections */
  @keyframes fade-out {
    to {opacity:0;}
  }
  
  @keyframes fade-in {
    from {opacity:0;}
  }

  ::view-transition-old(fallback) {
    animation: 1s ease both fade-out;
  }
  ::view-transition-new(fallback) {
    animation: 1s ease both fade-in;
  }
}
